header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7c5e99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

nav a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    /* Não precisa escrver porque já é o padrão,
    mas eu vou escrever para 
    aprender */
    font-style: normal;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f25a70;
    margin-right: 10px;
}

.button{
    display: inline-block;
    background-color: #f25a70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    /*Para tirar a margin definida no A*/
    margin-right: 0;
    transition: transform 100ms linear;
}

.button:hover{
    transform: scale(1.08);
}

h2 {
    font-family: "Press Start 2P", sans-serif;
    color: #fff;
    text-shadow: 4px 4px 0 #000;
}

/* Section do Skill */

section.skills{
    padding: 50px 0 100px;
    background-color: #f25a70;
    text-align: center;
    border-bottom: 10px solid #7c5e99;
}

section h2{
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #fff;
    margin-bottom: 60px;
}

div.list-skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-width: 960px;
    height: 420px;
    margin: 0 auto;
}

section.skills div.skill-item{
    display: flex;
    width: 430px;
    height: 90px;
}

div.skill-item img{
    margin-right: 25px;
}

div.skill-process h3{
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #fff;
    text-align: left;
    margin-bottom: 16px;
}

div.bar-process{
    box-sizing: border-box;
    width: 320px;
    height: 40px;
    position: relative;
    background-color: #fff;
    border: 5px solid #000;
}

div.bar-process svg rect {
    fill: #7c5e99;
}


