.main-form{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

.main-form .main-input{
    margin-bottom: 20px;
}

.main-form .main-input._textarea{
    margin-bottom: 40px;
}