.main-action{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    /* Não precisa escrver porque já é o padrão,
    mas eu vou escrever para 
    aprender */
    font-style: normal;
    text-decoration: none;
    margin-right: 30px;
}

.main-action::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f25a70;
    margin-right: 10px;
}