.main-section{
    background-color: #f25a70;
    padding: 50px 0 100px;
    border-bottom: 10px solid #7c5e99;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section._bgBlack{
    background-color: #000;
}

.main-section.bdFirst{
    border-color: #f25a70;
}